@page "/supplier-acknowledgement"

@attribute [Authorize]

<PageTitle>Supplier Acknowledgement</PageTitle>

<MudCard>
    <MudCardContent>
        @if (_supplierAck != null)
        {
            <MudText Typo="Typo.h6">Last Updated:</MudText>

            <MudText Typo="Typo.body2">@_supplierAck?.UpdateTimeStamp</MudText>
        }

        <MudDivider Class="my-2" />

        <MudText Typo="Typo.h5" GutterBottom="true"><b>Contact Details</b></MudText>

        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>ID:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.Id</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Parent Company ID:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.ParentCompanyId</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Parent Key:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.ParentKey</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Table Name:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.TableName</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Contact Priority:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.ContactPrty</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Contact Type:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.ContactType</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>First Name:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.FirstName</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Last Name:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.LastName</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Email:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.Email</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Active:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.Active</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Ody Unique ID:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.OdyUniqueId</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudText Typo="Typo.subtitle2"><b>Update Timestamp:</b></MudText>
                <MudText Typo="Typo.body1">@_contact?.UpdateTimeStamp</MudText>
            </MudItem>
        </MudGrid>
    </MudCardContent>

    <MudCardActions Class="justify-start" Style="padding: 16px; background-color: #f9f9f9;">
        <MudCheckBox @bind-Value="_isAcknowledged" Label=@Agreement />

        <MudSpacer />

        <MudButton OnClick="UpdateAck" Variant="Variant.Filled" Size="Size.Medium" Color="Color.Secondary">Update Agreement</MudButton>
    </MudCardActions>
</MudCard>

<MudGrid Style="margin-top: 5px;">
    <MudItem xs="6">
        <MudPaper Class="pa-4">
            <div class="vc_column-inner vc_custom_1622578813639">
                <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 35px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center" style="display: flex; justify-content: center;">
                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                            <span class="vc_icon_element-icon fas fa-clipboard-check" style="color:#cc3433 !important"></span>
                        </div>
                    </div>
                    <h2 style="font-size: 25px;color: #cc3433;text-align: center" class="vc_custom_heading">SUPPLIER REQUIREMENTS</h2>
                    <div class="vc_empty_space" style="height: 15px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="wpb_text_column wpb_content_element  vc_custom_1713812540519">
                        <div class="wpb_wrapper">
                            <p style="text-align: center;">
                                Pace Supplier Quality Manual – <a href="https://paceind.com/wp-content/uploads/2024/04/Pace-Supplier-Quality-Manual.pdf" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                            <p style="text-align: center;">
                                P.O. Terms and Conditions – <a href="https://paceind.com/p-o-terms/" target="_blank" rel="noopener">VIEW</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="6">
        <MudPaper Class="pa-4">
            <div class="vc_column-inner vc_custom_1559599676647">
                <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 35px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center" style="display: flex; justify-content: center;">
                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                            <span class="vc_icon_element-icon fab fa-wpforms" style="color:#cc3433 !important"></span>
                        </div>
                    </div>
                    <h2 style="font-size: 25px;color: #cc3433;text-align: center" class="vc_custom_heading">SUPPLIER FORMS</h2>
                    <div class="vc_empty_space" style="height: 15px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="wpb_text_column wpb_content_element  vc_custom_1721661892384">
                        <div class="wpb_wrapper">
                            <p style="text-align: center;">
                                Mutual Non-Disclosure Agreement – <a href="https://paceind.com/wp-content/uploads/2024/07/PACE-INDUSTRIES-MUTUAL-NDA-Template.docx" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                            <p style="text-align: center;">
                                Supplier Assessment Form – <a href="https://paceind.com/wp-content/uploads/2024/05/Pace-SC-Form-103-Pace-Supplier-Quality-Assessment.xlsx" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                            <p style="text-align: center;">
                                Supplier Request for Product Process Change – <a href="https://paceind.com/wp-content/uploads/2022/02/Supplier-Request-Product-Process-Change-SRPPC-2022.01.24.xlsx" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                            <p style="text-align: center;">
                                Supplier PPAP Check List – <a href="https://paceind.com/wp-content/uploads/2022/02/Supplier-PPAP-List-Rev-3-2022.01.31.xlsx" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                            <p style="text-align: center;">
                                Quality 8D Report –&nbsp; <a href="https://paceind.com/wp-content/uploads/2024/04/PACE-QUALITY-201F-Quality-8D-Report.docx" target="_blank" rel="noopener">DOWNLOAD</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>




@code {
    private const string Agreement = "I acknowledge I have read the Pace Supplier Quality Manual and agreements, etc.";

    [Inject]
    private ApplicationDbContext _dbContext { get; set; }

    [Inject]
    private CachedUserData _cachedUserData { get; set; }

    private PSupplierAck? _supplierAck;

    private Contact? _contact;

    private bool _isAcknowledged;

    protected override void OnInitialized()
    {
        _supplierAck = _dbContext.PSupplierAcks.AsNoTracking().FirstOrDefault(s => s.ParentCompanyId.Equals(_cachedUserData.ParentCompanyId));

        _contact = _cachedUserData.Contacts.FirstOrDefault();

        if(_supplierAck != null && _supplierAck.Ack.Equals("1"))
        {
            _isAcknowledged = true;
        }
    }

    private void UpdateAck()
    {
        //create
        if(_supplierAck == null && _isAcknowledged)
        {
            var supplierAck = new PSupplierAck()
            {
                ParentKey = _contact?.ParentKey,
                ParentCompanyId = _contact?.ParentCompanyId,
                Email = _contact?.Email,
                Ack = "1",
                UpdateTimeStamp = DateTime.Now,
            };

            _dbContext.PSupplierAcks.Add(supplierAck);

            if (_dbContext.SaveChanges() > 0)
            {
                _supplierAck = _dbContext.PSupplierAcks.AsNoTracking().FirstOrDefault(s => s.ParentCompanyId.Equals(_cachedUserData.ParentCompanyId));
            }
        }

        //update
        if(_supplierAck != null)
        {
            _supplierAck = _dbContext.PSupplierAcks.FirstOrDefault(s => s.ParentCompanyId.Equals(_cachedUserData.ParentCompanyId));
            _supplierAck.Ack = _isAcknowledged ? "1" : "0";
            _supplierAck.UpdateTimeStamp = DateTime.Now;

            _dbContext.SaveChanges();
        }
    }
}
