@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Style="background-color: white;">
        <MudGrid>
            <MudItem xs="4">
                <MudImage Src="Images/Logos/Logo.png" Height="60" />
            </MudItem>
            <MudItem xs="4" Align="center">
                <MudText Style="color: black;" Typo="Typo.h4" Class="mb-4">@_title</MudText>
            </MudItem>
        </MudGrid>
    </MudAppBar>

    <MudDrawer Open="true" Width="350px;" ClipMode="DrawerClipMode.Always" Elevation="2" Style="background-color: lightgray;">
        <MudText Style="font-size: large; font-weight: bolder; margin-top: 10px; margin-bottom: 10px; margin-left: 28px;">Hello, Pace-Admin!</MudText>

        <MudNavMenu Bordered="true">
            <MudNavLink Href="/sales-orders"><div onclick="@(() => ChangeTitle("Sales Orders"))">Sales Orders</div></MudNavLink>
        </MudNavMenu>        
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private string _title;

    private void ChangeTitle(string title) => _title = title;
}
